<section>
    <h1>Rejestracja</h1>
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field appearance="outline">
        <mat-label for="username">Login</mat-label>
        <input matInput id="username" type="text" formControlName="username">
        <mat-icon matSuffix>person_outline</mat-icon>
        @if (registerForm.controls['username'].errors?.['required']) {
          <mat-error>Login nie może być pusty</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label for="password">Hasło</mat-label>
        <input matInput id="password" type="password" formControlName="password">
        <mat-icon matSuffix>lock</mat-icon>
        @if (registerForm.controls['password'].errors?.['required']) {
          <mat-error>Hasło nie może być puste</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" type="text" formControlName="email">
        @if (registerForm.controls['email'].errors?.['required']) {
          <mat-error>Email nie może być pusty</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="first-name">Imię</mat-label>
        <input matInput id="first-name" type="text" formControlName="firstName">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label for="last-name">Nazwisko</mat-label>
        <input matInput id="last-name" type="text" formControlName="lastName">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Utwórz konto</button>
  
    </form>
</section>