section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 10px;
}